@page "/counter"

<h1>Счётчик</h1>

<p>Current count: @currentCount</p>

<button class="focus" @onclick="IncrementCount">Нажми</button>
@(n)

@code {
    private int currentCount = 0;
    string n = "Может фото появится?";
    private void IncrementCount()
    {
        currentCount = currentCount + 100;
    }
}
