@page "/"
@*
    <input @bind=" text" />
    <button class="focus" @onclick="ok">отправить</button>
    @foreach (string s in list)

                {
                    <div> @s  </div>
                }

        @code
    {
            static string text = "введите сообщение";
            static list<string> list = new list<string>();
            void ok()
            {
                list.add(text);
            }
        }*@
<AndrewBlazorProgect.Compnents.Button> </AndrewBlazorProgect.Compnents.Button>





