@page "/"


<div><AndrewBlazorProgect.Compnents.Regestration handler="(u)=>setuser((Classes.Person) u)"></AndrewBlazorProgect.Compnents.Regestration></div>
@if (user != "")
{
    <div class="chat">        </div>

}
@code {
    
    public string user = "";

    void setuser(Classes.Person u)
    {
        user = u.nickname;
    }
}

<AndrewBlazorProgect.Compnents.Nadoedalka>  </AndrewBlazorProgect.Compnents.Nadoedalka>



