@page "/test1"

<h3></h3>

<AndrewBlazorProgect.Compnents.Component2 number="(c)=>setClicks((int)c)"></AndrewBlazorProgect.Compnents.Component2>


<div>@clicks</div>
@code {
    public int clicks=0;

    void setClicks(int c)
    {
        clicks = c;
    }

}




