
<button @onclick="@(async ()=> await invis())" style="background-color:transparent; border:hidden; float:right;  visibility:@(visib); "> <img src="/Павук.png" width="50" height="120" style="display: inline-block;float: right" /></button>

@if (c == true)
{
   
 <div style=" float: right">@p</div>


}


@code {

    bool c = false;
    int inv = 100;
    string visib = "visible";
    string p = "Хахаха,не поймал!";
    void taunt()
    {
        c = true;
        inv = 0;
        visib = "hidden";
        p = "Хахаха,не поймал!";
        

    }

    void AsyncInvis()
    {
        System.Threading.Thread.Sleep(5000);
        inv = 100;
        visib = "visible";
        c = false;
        p = "";
    }
    async Task invis()
    {
        taunt();
        await Task.Run(() => AsyncInvis());
    }

}
