@*<h3>Nadoedalka</h3>
<button class="btn btn-primary" @onclick="SendMessage">Отправить</button>


@code {
    public void SendMessage()
    {
        
        if (msg == "")
        {
            return;
        }

    }
}*@
